<h2>Formulario con Symfony3</h2>
{% if (status != null) and (data != null) %}
	<h3>{{status}}</h3>
	<h4>{{dump(data)}}</h4>
{% endif %}
{{form_start(form, {'action':'','method':'POST'})}}
	<label for="titulo">Titulo</label> {{form_errors(form.titulo)}}
	{{form_widget(form.titulo)}}
{{form_end(form)}}
