{% extends 'BlogBundle::layout.html.twig' %}

{% block content %}
	<div class="col-lg-6">
	<h2>Todas las etiquetas</h2>
	<hr>
	<a href="{{path("blog_add_etiqueta")}}" class="btn btn-success">Añadir etiqueta</a>
	{% for type, messages in app.session.flashbag().all() %}
		{% for message in messages %}
			<div class="alert alert-{{type}}"> {{message}} </div>
		{% endfor %}
	{% endfor %}
		<table class="table table-bordered">
			<thead>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Eliminar</th>
			</thead>
			<tbody>
				{% for etiqueta in etiquetas %}
				<tr>
					<td>{{etiqueta.nombre}}</td>
					<td>{{etiqueta.descripcion}}</td>
					{# if etiqueta.entradaEtiqueta|length == 0 #}
					<td><a href="{{path("blog_delete_etiqueta", {"id":etiqueta.id}) }}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
					{# endif #}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="clearfix"></div>
{% endblock %}